adapter_type = {{ adapter_type }}
datacenter = {{ datacenter }}
datastore_cluster = {{ datastore_cluster }}
disks = {{ disks }}
dns_servers = {{ dns_servers }}
eagerly_scrub = {{ eagerly_scrub }}
folder = {{ folder }}
hostname = {{ hostname }}
ignition_encoding = {{ ignition_encoding }}
ip_address = {{ ip_address }}
ip_address_familiy = {{ ip_address_familiy }}
ip_address_gateway = {{ ip_address_gateway }}
ip_address_prefix = {{ ip_address_prefix }}
memory = {{ memory }}
network_interface_mtu = {{ network_interface_mtu }}
resource_pool = {{ resource_pool }}
skip_customization = {{ skip_customization }}
ssh_authorized_keys = {{ ssh_authorized_keys }}
sshd_port = {{ sshd_port }}
template_vm = {{ template_vm }}
thin_provisioned = {{ thin_provisioned }}
vcpus = {{ vcpus }}
vlan  = {{ vlan }}
vsphere_password = {{ vsphere_password }}
vsphere_server = {{ vsphere_server }}
vsphere_user = {{ vsphere_user }}
wait_for_guest_net_routable = {{ wait_for_guest_net_routable }}
wait_for_guest_net_timeout = {{ wait_for_guest_net_timeout }}