{{ inventory_hostname }}_adapter_type = {{ adapter_type }}
{{ inventory_hostname }}_datacenter = {{ datacenter }}
{{ inventory_hostname }}_datastore_cluster = {{ datastore_cluster }}
{{ inventory_hostname }}_disks = {{ disks }}
{{ inventory_hostname }}_dns_servers = {{ dns_servers }}
{{ inventory_hostname }}_eagerly_scrub = {{ eagerly_scrub }}
{{ inventory_hostname }}_folder = {{ folder }}
{{ inventory_hostname }}_hostname = {{ hostname }}
{{ inventory_hostname }}_ignition_encoding = {{ ignition_encoding }}
{{ inventory_hostname }}_ip_address = {{ ip_address }}
{{ inventory_hostname }}_ip_address_familiy = {{ ip_address_familiy }}
{{ inventory_hostname }}_ip_address_gateway = {{ ip_address_gateway }}
{{ inventory_hostname }}_ip_address_prefix = {{ ip_address_prefix }}
{{ inventory_hostname }}_memory = {{ memory }}
{{ inventory_hostname }}_network_interface_mtu = {{ network_interface_mtu }}
{{ inventory_hostname }}_resource_pool = {{ resource_pool }}
{{ inventory_hostname }}_skip_customization = {{ skip_customization }}
{{ inventory_hostname }}_ssh_authorized_keys = {{ ssh_authorized_keys }}
{{ inventory_hostname }}_sshd_port = {{ sshd_port }}
{{ inventory_hostname }}_template_vm = {{ template_vm }}
{{ inventory_hostname }}_thin_provisioned = {{ thin_provisioned }}
{{ inventory_hostname }}_vcpus = {{ vcpus }}
{{ inventory_hostname }}_vlan  = {{ vlan }}
{{ inventory_hostname }}_vsphere_password = {{ vsphere_password }}
{{ inventory_hostname }}_vsphere_server = {{ vsphere_server }}
{{ inventory_hostname }}_vsphere_user = {{ vsphere_user }}
{{ inventory_hostname }}_wait_for_guest_net_routable = {{ wait_for_guest_net_routable }}
{{ inventory_hostname }}_wait_for_guest_net_timeout = {{ wait_for_guest_net_timeout }}